{% extends 'base.html.twig' %}

{% block body %}
    <h1>Posts</h1>

    {% for post in pagination %}
        <div>{{ post.getName }}</div>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}